/* Definición de la paleta de colores */
:root {
    --color-primario: #d90368;
    --color-secundario: #ffe7d1;
    --color-terciario: #581845;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #581845;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D90368'/%3E%3Cstop offset='1' stop-color='%23581845'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFE7D1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFE7D1' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.39'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: var(--color-terciario);
}

/* Estilos para los encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/* Estilos para los enlaces */
a {
    color: var(--color-primario);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--color-terciario);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para los botones */
.btn {
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #b70052;
}

/*********************** NAV ***************************/
.navbar {
    background-color: var(--color-terciario) !important;
}

.navbar a {
    color: #fff;
}

.navbar-nav:hover a {
    opacity: 0.25;
}

.navbar-nav a:hover {
    opacity: 1;
    color: #d90368;
}

a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 15px;
    transition: 0.3s;
    opacity: 0.8;
}

/*********************** Body ***************************/


#checkboxs label {
    margin-right: 10px;
    color: #fff;
    align-items: center !important;
}

#checkboxs input {
    margin-right: 5px;
}

#search-results,
#upc-search-results,
#past-search-results {
    display: none;
}


#search-results,
#upc-search-results,
#past-search-results {

    position: absolute;
    z-index: 99;
    width: auto;
    padding: 5px;
    margin-right: 12px;
    background-color: #333333a6;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 5);

}

.search-result {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.2s ease-in-out;
    margin: 6px;
}

.search-result:hover {
    transform: translateY(-4px);
}

.search-result h3 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}



.central-nav {
    padding: 40px;
    margin-bottom: 22px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    background-color: #d90368;
    -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
}

.central-nav i {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.card-img-top {
    min-height: 200px;
    max-height: 200px;
}


.table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.table th,
.table td {
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 20%;

}

.table th {
    text-align: center;
    border: solid 2px black;
}

.table thead th {
    background-color: #7a1343;
}

.table tr:hover {
    background-color: rgba(255, 248, 248, 0.3);
}




/** Details **/

img {
    display: block;
    width: 100%;
}

.cta {
    display: flex;
    flex-wrap: wrap;
    background: #ECF2FF;
    max-width: 50rem;
    width: 100%;
    box-shadow: 0.65rem 0.65rem 0;
    border-radius: 0.8rem;
    overflow: hidden;
    border: 2px solid;
}

.cta img {
    aspect-ratio: 3 / 1;
    object-fit: cover;
    flex: 1 1 300px;
    outline: 0.5rem solid;
}

.cta__text-column {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    flex: 1 0 50%;
}

/****************  FOOTER ****************/

footer {
    background-color: #d90368;
}

footer i {
    color: #fff;
}

footer span {
    color: #fff;
}

footer li a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

footer li a i:hover {
    transform: scale(1.2);
}